# See https://help.github.com/ignore-files/ for more about ignoring files.

# expo
Frontend/.expo/

# android
Frontend/android

# dependencies
Frontend/node_modules

# misc
Frontend/.env.local
Frontend/.env.development.local
Frontend/.env.test.local
Frontend/.env.production.local

Frontend/npm-debug.log*
Frontend/yarn-debug.log*
Frontend/yarn-error.log*
